:root {
    font-family: sans-serif;
}

::selection {
    background: none;
}

#hoved {
    display: flex;
    align-items: center;
    width: 25rem;
    height: 25rem;
    padding: 1rem;
    border: 1px solid black;
}

#display {
    text-align: center;
}